<div class="about_page" [ngStyle]="{'min-height': windowSize.height, 'min-width': windowSize.width}">
  <app-estrelas *ngFor="let estrela of estrelas" [coordinates]="estrela"></app-estrelas>
  <div class="hello_container">
    <img class="photo" src="./assets/images/foto-pixel.jpg">
    <div class="hello-text">{{ 'HOME.HELLO_1' | translate }}</div>
    <div class="hello-text">{{'HOME.HELLO_2' | translate }}</div>
  </div>
  <div class="info_container">
    <div class="info-text">{{ "HOME.INFO_1" | translate}}</div>
    <div class="info-text">{{ "HOME.INFO_2" | translate}}</div>
    <div class="info-text">{{ "HOME.INFO_3" | translate}}</div>
    <div class="info-text social">{{ "HOME.INFO_4" | translate}}</div>
    <div class="social_icons_container">
      <div class='social_icons'>
        <a href="#">
          <img src='assets/images/links/linkedin.png' />
        </a>
        <a href="https://www.linkedin.com/in/milton-mazetto-junior-18148494/">LinkedIn</a>
      </div>
      <div class='social_icons'>
        <a href="https://github.com/mmazt">
          <img src='assets/images/links/github.png' />
        </a>
        <a href="#">Github</a>
      </div>
      <div class='social_icons'>
        <a href="#">
          <img src='assets/images/links/download.png' />
        </a>
        <a href="#">Currículo</a>
      </div>
    </div>
  </div>
</div>
