.about_page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(34, 33, 38);
  background: -moz-linear-gradient(
    top,
    rgba(34, 33, 38, 1) 0%,
    rgba(34, 33, 38, 1) 43%,
    rgba(36, 37, 57, 1) 53%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(34, 33, 38, 1) 0%,
    rgba(34, 33, 38, 1) 43%,
    rgba(36, 37, 57, 1) 53%
  );
  background: linear-gradient(
    to bottom,
    rgba(34, 33, 38, 1) 0%,
    rgba(34, 33, 38, 1) 43%,
    rgba(36, 37, 57, 1) 53%
  );
  background-size: 100%;
  background-clip: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

.photo {
  margin-bottom: 2vh;
  border-radius: 50%;
  width: 15vw;
  min-width: 100px;
}

.hello_container {
  margin-top: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1vh;
  padding: 1rem;
  padding-bottom: 0;
  z-index: 1;
}
.info_container {
  padding: 0 1rem;
  line-height: 1.2;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.info-text {
  padding-top: 0.4rem;
}
.social {
  margin-top: 1rem;
}

.social_icons_container {
  margin: 0 auto;
  margin-top: 2%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_icons {
  font-size: 0.8rem;
  margin: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.social_icons img {
  max-height: 40px;
  max-width: 40px;
}
.social_icons a {
  text-decoration: none;
  color: #ffffff;
}

.hello-text {
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.1rem;
}

@media only screen and (min-width: 321px) {
  .photo {
    min-width: 100px;
  }
  .hello_container {
    margin-bottom: 1.5vh;
    height: 36vh;
  }
  .info_container {
    margin-top: 1.5vh;
    font-size: 1.1rem;
  }
  .social {
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 450px) {
  .photo {
    margin-bottom: 3vh;
    min-width: 150px;
  }
  .hello_container {
    margin-bottom: 3vh;
    height: 40vh;
  }
  .social {
    margin-top: 3rem;
  }
  .social_icons_container {
    margin-top: 3%;
  }
  .hello-text {
    font-size: 1.3rem;
  }
  .info_container {
    margin-top: 2vh;
    font-size: 1.2rem;
  }
  .social {
    margin-top: 2rem;
  }
}
