.projects {
  background: rgb(36, 37, 57);
  background: -moz-linear-gradient(
    top,
    rgba(36, 37, 57, 1) 0%,
    rgba(45, 48, 83, 1) 6%,
    rgba(45, 48, 83, 1) 56%,
    rgba(49, 51, 125, 1) 63%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(36, 37, 57, 1) 0%,
    rgba(45, 48, 83, 1) 6%,
    rgba(45, 48, 83, 1) 56%,
    rgba(49, 51, 125, 1) 66%
  );
  background: linear-gradient(
    to bottom,
    rgba(36, 37, 57, 1) 0%,
    rgba(45, 48, 83, 1) 6%,
    rgba(45, 48, 83, 1) 56%,
    rgba(49, 51, 125, 1) 66%
  );
  background-size: 100%;
  background-clip: border-box;
  border: 0;
  overflow-x: hidden;
}

.title {
  margin-top: 2vh;
  margin-left: 2vw;
  font-size: 1.2rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.sub-title {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.tabs {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab-item {
  margin: 0 1%;
}
.project-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 2rem;
  font-size: 0.7rem;
  color: grey;
  border: 1px grey solid;
  padding: 0 5px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  word-wrap: normal;
}

.selected-btn {
  font-size: 0.7rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  padding: 0 5px;
  color: #fff;
  border: 1px #fff solid;
}

.container {
  width: 90%;
  margin: 2vh auto;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sub-container {
  margin-top: 2vh;
}

.project-title {
  font-size: 1rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.link {
  color: #fff;
  text-decoration: none;
}

.project-objective {
  font-size: 0.9rem;
}
.project-description {
  font-size: 0.9rem;
}
.link-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  height: auto;
  min-width: 40%;
  max-width: 100%;
}

@media only screen and (min-width: 321px) {
  .project-objective {
    font-size: 1rem;
  }
  .project-description {
    font-size: 1rem;
  }
  .project-btn {
    font-size: 0.9rem;
    min-height: 2.3rem;
  }
  .selected-btn {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 451px) {
  .tabs {
    width: 50%;
  }
  .container {
    width: 50%;
  }
  .project-btn {
    font-size: 1.1rem;
    min-height: 2.5rem;
    padding: 0 10px;
    cursor: pointer;
  }
  .selected-btn {
    padding: 0 10px;
  }
  .project-objective {
    font-size: 1.1rem;
  }
  .project-description {
    font-size: 1.1rem;
  }
}
