<div class="skills" [ngStyle]="{'min-height': windowSize.height, 'min-width': windowSize.width}">
  <div class="title">{{'SKILLS.TITLE' | translate}}</div>
  <div class="skills-container">
    <div class="sub-title">{{'SKILLS.SUB-TITLE_1' | translate}}</div>
    <app-skill *ngFor="let skill of skillList.dev" [percent]='skill.percent' [legenda]="skill.legend" [image]='skill.image'></app-skill>
  </div>
  <div class="skills-container">
    <div class="sub-title">{{'SKILLS.SUB-TITLE_2' | translate}}</div>
    <app-skill *ngFor="let skill of skillList.infra" [percent]='skill.percent' [legenda]="skill.legend" [image]='skill.image'></app-skill>
  </div>
  <div class="skills-container">
    <div class="sub-title">{{'SKILLS.SUB-TITLE_3' | translate}}</div>
    <app-skill *ngFor="let skill of skillList.design" [percent]='skill.percent' [legenda]="skill.legend" [image]='skill.image'></app-skill>
  </div>
</div>
