<div class="skills" [ngStyle]="{'min-height': windowSize.height, 'min-width': windowSize.width}">
  <div class="title">{{'SKILLS.TITLE' | translate}}</div>
  <div class="skills-container">
    <div class="sub-title">{{'SKILLS.SUB-TITLE_1' | translate}}</div>
    <app-skill [percent]='80' legenda="1" image='html'></app-skill>
    <app-skill [percent]='80' legenda='2' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='3' image='javascript'></app-skill>
    <app-skill [percent]='80' legenda='4' image='react'></app-skill>
    <app-skill [percent]='80' legenda='5' image='redux'></app-skill>
    <app-skill [percent]='80' legenda='6' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='7' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='8' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='9' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='10' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='11' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='12' image='css3'></app-skill>
  </div>
  <div class="skills-container">
    <div class="sub-title">{{'SKILLS.SUB-TITLE_2' | translate}}</div>
    <app-skill [percent]='80' legenda="13" image='html'></app-skill>
    <app-skill [percent]='80' legenda='14' image='css3'></app-skill>
  </div>
  <div class="skills-container">
    <div class="sub-title">{{'SKILLS.SUB-TITLE_3' | translate}}</div>
    <app-skill [percent]='80' legenda="15" image='html'></app-skill>
    <app-skill [percent]='80' legenda='16' image='css3'></app-skill>
    <app-skill [percent]='80' legenda='17' image='javascript'></app-skill>
    <app-skill [percent]='80' legenda='18' image='react'></app-skill>
    <app-skill [percent]='80' legenda='19' image='react'></app-skill>
  </div>
</div>
