.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(49, 51, 125);
  background: -moz-linear-gradient(
    top,
    rgba(49, 51, 125, 1) 0%,
    rgba(68, 101, 229, 1) 10%,
    rgbargba(68, 101, 229, 1) 97%,
    rgba(61, 166, 224, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(49, 51, 125, 1) 0%,
    rgba(68, 101, 229, 1) 25%,
    rgba(68, 101, 229, 1) 97%,
    rgba(61, 166, 224, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(49, 51, 125, 1) 0%,
    rgba(68, 101, 229, 1) 25%,
    rgba(68, 101, 229, 1) 97%,
    rgba(77, 112, 249, 1) 100%
  );
  background-size: 100%;
  background-clip: border-box;
}

.skills-container {
  margin: 1vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-around;
  flex-wrap: wrap;
}

app-skill {
  margin: 1vh auto !important;
}
@media only screen and (min-width: 450px) {
  app-skill {
    margin: 0.5rem 2% !important;
  }
}

.title {
  margin-left: 2vw;
  margin-top: 0.5vh;
  font-size: 1rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.sub-title {
  font-size: 0.8rem;
  width: 100vw;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
@media only screen and (min-width: 375px) {
  .title {
    margin-top: 1vh;
    font-size: 1.2rem;
  }
  .sub-title {
    font-size: 1rem;
  }
  .skills-container {
    margin: 1vh 5vw;
  }
}

@media only screen and (min-width: 450px) {
  .title {
    margin-top: 1vh;
    font-size: 1.2rem;
  }
  .sub-title {
    font-size: 1rem;
  }
  .skills-container {
    margin: 2vh 5vw;
  }
}
