.nuvem_pequena {
  box-shadow: 60px 10px 0 #ffffff, 65px 10px 0 #ffffff, 70px 10px 0 #ffffff,
    75px 10px 0 #ffffff, 80px 10px 0 #ffffff, 95px 10px 0 #ffffff,
    100px 10px 0 #ffffff, 105px 10px 0 #ffffff, 110px 10px 0 #ffffff,
    55px 15px 0 #ffffff, 60px 15px 0 #ffffff, 65px 15px 0 #ffffff,
    70px 15px 0 #ffffff, 75px 15px 0 #ffffff, 80px 15px 0 #ffffff,
    85px 15px 0 #ffffff, 90px 15px 0 #ffffff, 95px 15px 0 #ffffff,
    100px 15px 0 #ffffff, 105px 15px 0 #ffffff, 110px 15px 0 #ffffff,
    115px 15px 0 #ffffff, 120px 15px 0 #ffffff, 55px 20px 0 #ffffff,
    60px 20px 0 #ffffff, 65px 20px 0 #ffffff, 70px 20px 0 #ffffff,
    75px 20px 0 #ffffff, 80px 20px 0 #ffffff, 85px 20px 0 #ffffff,
    90px 20px 0 #ffffff, 95px 20px 0 #ffffff, 100px 20px 0 #ffffff,
    105px 20px 0 #ffffff, 110px 20px 0 #ffffff, 115px 20px 0 #ffffff,
    120px 20px 0 #ffffff, 125px 20px 0 #ffffff, 45px 25px 0 #ffffff,
    50px 25px 0 #ffffff, 55px 25px 0 #ffffff, 60px 25px 0 #ffffff,
    65px 25px 0 #ffffff, 70px 25px 0 #ffffff, 75px 25px 0 #ffffff,
    80px 25px 0 #ffffff, 85px 25px 0 #ffffff, 90px 25px 0 #ffffff,
    95px 25px 0 #ffffff, 100px 25px 0 #ffffff, 105px 25px 0 #ffffff,
    110px 25px 0 #ffffff, 115px 25px 0 #ffffff, 120px 25px 0 #ffffff,
    125px 25px 0 #ffffff, 130px 25px 0 #ffffff, 25px 30px 0 #ffffff,
    30px 30px 0 #ffffff, 35px 30px 0 #ffffff, 40px 30px 0 #ffffff,
    45px 30px 0 #ffffff, 50px 30px 0 #ffffff, 55px 30px 0 #ffffff,
    60px 30px 0 #ffffff, 65px 30px 0 #ffffff, 70px 30px 0 #ffffff,
    75px 30px 0 #ffffff, 80px 30px 0 #ffffff, 85px 30px 0 #ffffff,
    90px 30px 0 #ffffff, 95px 30px 0 #ffffff, 100px 30px 0 #ffffff,
    105px 30px 0 #ffffff, 110px 30px 0 #ffffff, 115px 30px 0 #ffffff,
    120px 30px 0 #ffffff, 125px 30px 0 #ffffff, 130px 30px 0 #ffffff,
    135px 30px 0 #ffffff, 140px 30px 0 #ffffff, 145px 30px 0 #ffffff,
    10px 35px 0 #ffffff, 15px 35px 0 #ffffff, 20px 35px 0 #ffffff,
    25px 35px 0 #ffffff, 30px 35px 0 #ffffff, 35px 35px 0 #ffffff,
    40px 35px 0 #ffffff, 45px 35px 0 #ffffff, 50px 35px 0 #ffffff,
    55px 35px 0 #ffffff, 60px 35px 0 #ffffff, 65px 35px 0 #ffffff,
    70px 35px 0 #ffffff, 75px 35px 0 #ffffff, 80px 35px 0 #ffffff,
    85px 35px 0 #ffffff, 90px 35px 0 #ffffff, 95px 35px 0 #ffffff,
    100px 35px 0 #ffffff, 105px 35px 0 #ffffff, 110px 35px 0 #ffffff,
    115px 35px 0 #ffffff, 120px 35px 0 #ffffff, 125px 35px 0 #ffffff,
    130px 35px 0 #ffffff, 135px 35px 0 #ffffff, 140px 35px 0 #ffffff,
    145px 35px 0 #ffffff, 150px 35px 0 #ffffff, 5px 40px 0 #ffffff,
    10px 40px 0 #ffffff, 15px 40px 0 #ffffff, 20px 40px 0 #ffffff,
    25px 40px 0 #ffffff, 30px 40px 0 #ffffff, 35px 40px 0 #ffffff,
    40px 40px 0 #ffffff, 45px 40px 0 #ffffff, 50px 40px 0 #ffffff,
    55px 40px 0 #ffffff, 60px 40px 0 #ffffff, 65px 40px 0 #ffffff,
    70px 40px 0 #ffffff, 75px 40px 0 #ffffff, 80px 40px 0 #ffffff,
    85px 40px 0 #ffffff, 90px 40px 0 #ffffff, 95px 40px 0 #ffffff,
    100px 40px 0 #ffffff, 105px 40px 0 #ffffff, 110px 40px 0 #ffffff,
    115px 40px 0 #ffffff, 120px 40px 0 #ffffff, 125px 40px 0 #ffffff,
    130px 40px 0 #ffffff, 135px 40px 0 #ffffff, 140px 40px 0 #ffffff,
    145px 40px 0 #9c9c9c, 5px 45px 0 #ffffff, 10px 45px 0 #ffffff,
    15px 45px 0 #ffffff, 20px 45px 0 #ffffff, 25px 45px 0 #ffffff,
    30px 45px 0 #ffffff, 35px 45px 0 #ffffff, 40px 45px 0 #ffffff,
    45px 45px 0 #ffffff, 50px 45px 0 #ffffff, 55px 45px 0 #ffffff,
    60px 45px 0 #ffffff, 65px 45px 0 #ffffff, 70px 45px 0 #ffffff,
    75px 45px 0 #ffffff, 80px 45px 0 #ffffff, 85px 45px 0 #ffffff,
    90px 45px 0 #ffffff, 95px 45px 0 #ffffff, 100px 45px 0 #ffffff,
    105px 45px 0 #ffffff, 110px 45px 0 #9c9c9c, 115px 45px 0 #9c9c9c,
    120px 45px 0 #9c9c9c, 125px 45px 0 #9c9c9c, 130px 45px 0 #9c9c9c,
    135px 45px 0 #9c9c9c, 140px 45px 0 #9c9c9c, 10px 50px 0 #ffffff,
    15px 50px 0 #ffffff, 20px 50px 0 #ffffff, 25px 50px 0 #ffffff,
    30px 50px 0 #ffffff, 35px 50px 0 #ffffff, 40px 50px 0 #ffffff,
    45px 50px 0 #ffffff, 50px 50px 0 #ffffff, 55px 50px 0 #ffffff,
    60px 50px 0 #9c9c9c, 65px 50px 0 #9c9c9c, 70px 50px 0 #ffffff,
    75px 50px 0 #ffffff, 80px 50px 0 #ffffff, 85px 50px 0 #ffffff,
    90px 50px 0 #ffffff, 95px 50px 0 #ffffff, 100px 50px 0 #9c9c9c,
    105px 50px 0 #9c9c9c, 110px 50px 0 #9c9c9c, 15px 55px 0 #ffffff,
    20px 55px 0 #ffffff, 25px 55px 0 #ffffff, 30px 55px 0 #ffffff,
    35px 55px 0 #ffffff, 40px 55px 0 #ffffff, 45px 55px 0 #ffffff,
    50px 55px 0 #9c9c9c, 55px 55px 0 #9c9c9c, 60px 55px 0 #9c9c9c,
    65px 55px 0 #9c9c9c, 70px 55px 0 #9c9c9c, 75px 55px 0 #9c9c9c,
    80px 55px 0 #9c9c9c, 85px 55px 0 #9c9c9c, 90px 55px 0 #9c9c9c,
    95px 55px 0 #9c9c9c, 100px 55px 0 #9c9c9c, 105px 55px 0 #9c9c9c,
    30px 60px 0 #9c9c9c, 35px 60px 0 #9c9c9c, 40px 60px 0 #9c9c9c,
    45px 60px 0 #9c9c9c, 50px 60px 0 #9c9c9c, 55px 60px 0 #9c9c9c,
    70px 60px 0 #9c9c9c, 75px 60px 0 #9c9c9c, 80px 60px 0 #9c9c9c,
    85px 60px 0 #9c9c9c, 90px 60px 0 #9c9c9c, 95px 60px 0 #9c9c9c;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  -webkit-animation: moveclouds 10s linear infinite;
  -moz-animation: moveclouds 10s linear infinite;
  -o-animation: moveclouds 10s linear infinite;
  animation: moveclouds 10s linear infinite;
}

.nuvem_grande {
  box-shadow: 40px 5px 0 #ffffff, 45px 5px 0 #ffffff, 50px 5px 0 #ffffff,
    55px 5px 0 #ffffff, 35px 10px 0 #ffffff, 40px 10px 0 #ffffff,
    45px 10px 0 #ffffff, 50px 10px 0 #ffffff, 55px 10px 0 #ffffff,
    60px 10px 0 #ffffff, 20px 15px 0 #ffffff, 25px 15px 0 #ffffff,
    30px 15px 0 #ffffff, 35px 15px 0 #ffffff, 40px 15px 0 #ffffff,
    45px 15px 0 #ffffff, 50px 15px 0 #ffffff, 55px 15px 0 #ffffff,
    60px 15px 0 #ffffff, 65px 15px 0 #ffffff, 70px 15px 0 #ffffff,
    10px 20px 0 #ffffff, 15px 20px 0 #ffffff, 20px 20px 0 #ffffff,
    25px 20px 0 #ffffff, 30px 20px 0 #ffffff, 35px 20px 0 #ffffff,
    40px 20px 0 #ffffff, 45px 20px 0 #ffffff, 50px 20px 0 #ffffff,
    55px 20px 0 #ffffff, 60px 20px 0 #ffffff, 65px 20px 0 #ffffff,
    70px 20px 0 #ffffff, 75px 20px 0 #ffffff, 80px 20px 0 #ffffff,
    85px 20px 0 #ffffff, 5px 25px 0 #ffffff, 10px 25px 0 #ffffff,
    15px 25px 0 #ffffff, 20px 25px 0 #ffffff, 25px 25px 0 #ffffff,
    30px 25px 0 #ffffff, 35px 25px 0 #ffffff, 40px 25px 0 #ffffff,
    45px 25px 0 #ffffff, 50px 25px 0 #ffffff, 55px 25px 0 #ffffff,
    60px 25px 0 #ffffff, 65px 25px 0 #ffffff, 70px 25px 0 #ffffff,
    75px 25px 0 #ffffff, 80px 25px 0 #ffffff, 85px 25px 0 #ffffff,
    90px 25px 0 #ffffff, 95px 25px 0 #ffffff, 5px 30px 0 #ffffff,
    10px 30px 0 #ffffff, 15px 30px 0 #ffffff, 20px 30px 0 #ffffff,
    25px 30px 0 #ffffff, 30px 30px 0 #ffffff, 35px 30px 0 #ffffff,
    40px 30px 0 #ffffff, 45px 30px 0 #ffffff, 50px 30px 0 #ffffff,
    55px 30px 0 #ffffff, 60px 30px 0 #ffffff, 65px 30px 0 #ffffff,
    70px 30px 0 #ffffff, 75px 30px 0 #ffffff, 80px 30px 0 #ffffff,
    85px 30px 0 #ffffff, 90px 30px 0 #ffffff, 95px 30px 0 #ffffff,
    100px 30px 0 #bdb7b7, 10px 35px 0 #ffffff, 15px 35px 0 #ffffff,
    20px 35px 0 #ffffff, 25px 35px 0 #ffffff, 30px 35px 0 #ffffff,
    35px 35px 0 #ffffff, 40px 35px 0 #ffffff, 45px 35px 0 #bdb7b7,
    50px 35px 0 #bdb7b7, 55px 35px 0 #bdb7b7, 60px 35px 0 #ffffff,
    65px 35px 0 #ffffff, 70px 35px 0 #ffffff, 75px 35px 0 #ffffff,
    80px 35px 0 #bdb7b7, 85px 35px 0 #bdb7b7, 90px 35px 0 #bdb7b7,
    95px 35px 0 #bdb7b7, 15px 40px 0 #bdb7b7, 20px 40px 0 #bdb7b7,
    25px 40px 0 #bdb7b7, 30px 40px 0 #bdb7b7, 35px 40px 0 #bdb7b7,
    40px 40px 0 #bdb7b7, 60px 40px 0 #bdb7b7, 65px 40px 0 #bdb7b7,
    70px 40px 0 #bdb7b7, 75px 40px 0 #bdb7b7, 80px 40px 0 #bdb7b7;
  position: absolute;
  z-index: 4;
  opacity: 0.9;
  -webkit-animation: moveclouds 10s linear infinite;
  -moz-animation: moveclouds 10s linear infinite;
  -o-animation: moveclouds 10s linear infinite;
  animation: moveclouds 10s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 200px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 200px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: -250px;
  }
  100% {
    margin-left: 250px;
  }
}

@keyframes moveclouds {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 500px;
  }
}
